<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span id="user_id_{{reqUser}}">User_ID = {{reqUser}} </span>
      <input type="hidden" id="user_id" name="user_id" value={{reqUser}}>
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<P>This is for CRUD of Company table</P>

{{!-- <P>{{this[0].dataValues}}</P> --}}
<table class="table" id="results">
  <thead>
    <tr>
      <th>Company ID</th>
      <th>Company Name</th>
      <th>Notes</th>
      <th>Rating</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each company}}

    <tr>
      {{!-- <td>{{this}}</td> --}}
      <td>{{dataValues.id}}</td>
      <td>{{dataValues.company}}</td>
      <td>{{dataValues.notes}}</td>
      <td>{{dataValues.rating}}</td>
      <td>
        <a href="javascript:void(0);" class="btn btn-sm btn-warning edit" data-id="{{ dataValues.id }}"
          data-userid="{{../reqUser}}" data-company="{{ dataValues.company }}" data-notes="{{ dataValues.notes }}"
          data-rating="{{ dataValues.rating }}">Edit</a>
        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ dataValues.id }}"
          data-userid="{{../reqUser}}">Delete</a>
      </td>
    </tr>
    {{else}}
    <tr>
      <td colspan="5" class="text-center">No data to display.</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<button class="btn btn-success float-right" data-toggle="modal" data-target="#newCompanyModal">Add New</button>

<!--- this is the edit form for create --->

<form action="/api/company" id="createform" method="post">
  <div class="modal fade" id="newCompanyModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">New Company</h4>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <input type="hidden" name="user_id1" id="user_id1" value="{{reqUser}}" class="form-control" placeholder=""
              required="required">
          </div>

          <div class="form-group">
            <input type="text" name="company" id="company" class="form-control" placeholder="Company Name"
              required="required">
          </div>

          <div class="form-group">
            <input type="text" id="notes" name="notes" class="form-control" placeholder="notes">
          </div>

          <div class="form-group">
            <input type="number" id="rating" name="rating" class="form-control" placeholder="5.0">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn create" data-dismiss="modal">Create</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  $(document).ready(function () {
    //showing data to edit modal      $('#mytable').on('click','.edit',function(){

    // create button action... 

    $('#createform').on('click', '.create', function () {

      var userid = $("#user_id1").val();
      var company = $("#company").val();
      var notes = $("#notes").val();
      var rating = $("#rating").val()
      console.log("create button pushed [", userid, "] [", company, "] [", notes, "] [", rating, "] ")
      $.ajax({
        url: "/api/company",
        type: "POST",
        data: {
          user_id1: userid,
          company: company,
          notes: notes,
          rating: rating
        },
        dataType: "json",
        success: function (data) {
          console.log(data);
          location.reload();  // force reload to see new entry
        },
        error: function (error) {
          console.log("Error ")
          console.log(error);
        }
      });
    });




    //delete button action. It works... 
    $('#results').on('click', '.delete', function () {
      var id = $(this).data("id");
      var userid = $(this).data("userid");
      console.log("delete button pushed [", id, "] [", userid, "]")
      $.ajax({
        url: "/api/company",
        type: "DELETE",
        data: {
          user_id: userid,
          id: id
        },
        dataType: "json",
        success: function (data) {
          console.log(data);
        },
        error: function (error) {
          console.log(`Error ${error}`);
        }
      });
    });
  });

</script>