<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span id="{{reqUser}}">User_ID = {{reqUser}} </span>
      <i class="fas fa-chevron-right"></i> <a href="/members">Members</a>
      <i class="fas fa-chevron-right"></i> <a href="/members/maintain">Maintainence</a>
      <i class="fas fa-chevron-right"></i> <B> Contact </b>
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">

      <P> CRUD page for Contacts</P>


      {{!-- <P>{{this[0].dataValues}}</P> --}}
      <table class="table" id="results">
        <thead>
          <tr>
            <th>contact ID</th>
            <th>contact Name</th>
            <th>title</th>
            <th>Note</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each contact}}

          <tr>
            {{!-- <td>{{this}}</td> --}}
            <td>{{dataValues.id}}</td>
            <td>{{dataValues.name}}</td>
            <td>{{dataValues.title}}</td>
            <td>{{dataValues.note}}</td>
            <td>
              <a href="javascript:void(0);" class="btn btn-sm btn-warning edit" data-id="{{ dataValues.id }}"
                data-userid="{{../reqUser}}" data-name="{{ dataValues.name }}" data-title="{{ dataValues.title }}"
                data-company_id="{{ dataValues.company_id }}" data-contact1="{{ dataValues.contact1 }}"
                data-contact2="{{ dataValues.contact2 }}" data-notes="{{ dataValues.notes }}"
                data-rating="{{ dataValues.rating }}" data-toggle="modal" data-target="#updatecontactModal">Edit</a>
              <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ dataValues.id }}"
                data-userid="{{../reqUser}}">Delete</a>
            </td>
          </tr>
          {{else}}
          <tr>
            <td colspan="5" class="text-center">No data to display.</td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <button class="btn btn-success" data-toggle="modal" data-target="#newcontactModal">Add New</button>

      <!--- this is the create form--->

      <form action="/api/contact" id="createform" method="post">
        <div class="modal fade" id="newcontactModal" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">New contact</h4>
                <button type="button" class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="form-group">
                  <input type="hidden" name="user_id1" id="user_id1" value="{{reqUser}}" class="form-control"
                    placeholder="" required="required">
                </div>

                <div class="form-group">
                  <label for="name">Contact Name: (ex: John Smith)</label>

                  <input type="text" name="name" id="name" class="form-control" placeholder="contact Name"
                    required="required">
                </div>

                <div class="form-group">
                  <label for="name">Contact Title: (ex: Recruiter, Manager)</label>
                  <input type="text" name="title" id="title" class="form-control" placeholder="contact title"
                    required="required">
                </div>

                <div class="form-group">
                  <input type="number" name="company_id" id="company_id" class="form-control" placeholder="companyID">
                </div>

                <div class="form-group">
                  <label for="contact1">Contact Method: (415-555-1212, JohnSmith@abc.com, etc.)</label>

                  <input type="text" name="contact1" id="contact1" class="form-control"
                    placeholder="contact email, twitter, phone, etc.">
                </div>

                <div class="form-group">
                  <label for="contact2">Contact Method: (415-555-1212, JohnSmith@abc.com, etc.)</label>
                  <input type="text" name="contact2" id="contact2" class="form-control"
                    placeholder="contact email, twitter, phone, etc.">
                </div>

                <div class="form-group">
                  <label for="notes">Your notes on this contact:</label>
                  <input type="text" id="notes" name="notes" class="form-control" placeholder="notes">
                </div>

                <div class="form-group">
                  <label for="rating">Your rating (for this contact):</label>
                  <input type="number" id="rating" name="rating" class="form-control" placeholder="5.0">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn create" data-dismiss="modal">Create</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-1"></div>

  </div>
</div>


<!--- this is the edit form --->

<form action="/api/contact" id="updateform" method="put">
  <div class="modal fade" id="updatecontactModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit contact</h4>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <input type="text" name="id_edit" id="id_edit" value="" class="form-control" placeholder=""
              required="required" readonly>
          </div>

          <div class="form-group">
            <input type="hidden" name="user_id1" id="user_id1_edit" value="{{reqUser}}" class="form-control"
              placeholder="" required="required">
          </div>

          <div class="form-group">
            <input type="text" name="name" id="name_edit" class="form-control" placeholder="contact Name"
              required="required">
          </div>

          <div class="form-group">
            <input type="text" name="title" id="title_edit" class="form-control" placeholder="contact title"
              required="required">
          </div>

          <div class="form-group">
            <input type="number" name="company_id_edit" id="company_id_edit" class="form-control"
              placeholder="companyID">
          </div>

          <div class="form-group">
            <input type="text" name="contact1_edit" id="contact1_edit" class="form-control"
              placeholder="contact email, twitter, phone, etc.">
          </div>

          <div class="form-group">
            <input type="text" name="contact2_edit" id="contact2_edit" class="form-control"
              placeholder="contact email, twitter, phone, etc.">
          </div>

          <div class="form-group">
            <input type="text" id="notes_edit" name="notes_edit" class="form-control" placeholder="notes">
          </div>

          <div class="form-group">
            <input type="number" id="rating_edit" name="rating_edit" class="form-control" placeholder="5.0">
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn commit" data-dismiss="modal">Commit</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- divider -->
<script>
  $(document).ready(function () {

    // edit button action 
    $('#results').on('click', '.edit', function () {
      var id = $(this).data("id");
      var userid = $(this).data("userid");
      var name = $(this).data("name");
      var title = $(this).data("title");
      var company_id = $(this).data("company_id");
      var contact1 = $(this).data("contact1");
      var contact2 = $(this).data("contact2");
      var notes = $(this).data("notes");
      var rating = $(this).data("rating");

      console.log("edit button pushed [", id, "] [", userid, "] [", name, "] [", title, "] [", company_id, "] [", contact1, "] [", contact2, "] [", notes, "] [", rating, "] ")

      // push them into the dialog box
      $("#id_edit").val(id)
      $("#user_id1_edit").val(userid)
      $("#name_edit").val(name)
      $("#title_edit").val(title)
      $("#company_id_edit").val(company_id)
      $("#contact1_edit").val(contact1)
      $("#contact2_edit").val(contact2)
      $("#notes_edit").val(notes)
      $("#rating_edit").val(rating)

      $('#updateform').on('click', '.commit', function () {

        // now we wait for the commit button to be pushed
        var idx = $("#id_edit").val()
        var userid = $("#user_id1_edit").val();
        var name = $("#name_edit").val();
        var title = $("#title_edit").val();
        var company_id = $("#company_id_edit").val()
        var contact1 = $("#contact1_edit").val()
        var contact2 = $("#contact2_edit").val()
        var notes = $("#notes_edit").val();
        var rating = $("#rating_edit").val()


        console.log("commit button pushed [", idx, "] [", userid, "] [", name, "] [", title, "] [", company_id, "] [", contact1, "] [", contact2, "] [", notes, "] [", rating, "] ")


        $.ajax({
          url: "/api/contact",
          type: "PUT",
          data: {
            id: idx,
            user_id1: userid,
            name: name,
            title: title,
            company_id: company_id,
            contact1: contact1,
            contact2: contact2,
            notes: notes,
            rating: rating
          },
          dataType: "json",
          success: function (data) {
            console.log(data);
            location.reload();  // force reload to see new entry
          },
          error: function (error) {
            console.log("Error ")
            console.log(error);
          }
        });
      })
    });




    // create button action... 

    $('#createform').on('click', '.create', function () {

      var userid = $("#user_id1").val();
      var name = $("#name").val();
      var title = $("#title").val();
      var company_id = $("#company_id").val()
      var contact1 = $("#contact1").val()
      var contact2 = $("#contact2").val()
      var notes = $("#notes").val();
      var rating = $("#rating").val()
      console.log("create button pushed [", userid, "] [", name, "] [", notes, "] [", rating, "] ")
      $.ajax({
        url: "/api/contact",
        type: "POST",
        data: {
          user_id1: userid,
          name: name,
          title: title,
          company_id: company_id,
          contact1: contact1,
          contact2: contact2,
          notes: notes,
          rating: rating
        },
        dataType: "json",
        success: function (data) {
          console.log(data);
          location.reload();  // force reload to see new entry
        },
        error: function (error) {
          console.log("Error ")
          console.log(error);
        }
      });
    });




    //delete button action. It works... 
    $('#results').on('click', '.delete', function () {
      var id = $(this).data("id");
      var userid = $(this).data("userid");
      console.log("delete button pushed [", id, "] [", userid, "]")
      $.ajax({
        url: "/api/contact",
        type: "DELETE",
        data: {
          user_id: userid,
          id: id
        },
        dataType: "json",
        success: function (data) {
          console.log(data);
          location.reload();  // force reload to see new entry

        },
        error: function (error) {
          console.log(`Error ${error}`);
        }
      });
    });
  });

</script>